<h4>Editar</h4>
{{#each data}}
<form class="mb4" action="/editar/:id" method="PUT">
    <div class="form-grout my-4">
        <label for="name">Nombre</label>
        <input type="text" name="name" value= "{{this.name}}" class="form-control" required>
    </div>

    <div class="form-grout my-4">
        <label for="name">Matricula</label>
        <input type="text" name="matricula" value="{{this.matricula}}" class="form-control" required>
    </div>

    <div class="form-grout my-4">
        <label for="name">Carrera</label>
        <input type="text" name="carrera" value="{{this.carrera}}" class="form-control" required>
    </div>

    <input type="submit" value="Edit student" class="btn btn-primary btn-block my-4">
</form>
{{/each}}