<h4>Editar</h4>

<form class="mb4" action="/api/students" method="POST">
    <div class="form-grout my-4">
        <label for="name">Nombre</label>
        <input type="text" name="name" class="form-control">
    </div>

    <div class="form-grout my-4">
        <label for="name">Matricula</label>
        <input type="text" name="matricula" class="form-control">
    </div>

    <div class="form-grout my-4">
        <label for="name">Carrera</label>
        <input type="text" name="carrera" class="form-control">
    </div>

    <input type="submit" value="Edit student" class="btn btn-primary btn-block my-4">
</form>