<h4>Editar</h4>
{{#each data}}

    <div class="form-grout my-4">
        <label for="name">Nombre</label>
        <input id="name" type="text" name="name" value= "{{this.name}}" class="form-control" required>
    </div>

    <div class="form-grout my-4">
        <label for="name">Matricula</label>
        <input id="matricula" type="text" name="matricula" value="{{this.matricula}}" class="form-control" required>
    </div>

    <div class="form-grout my-4">
        <label for="name">Carrera</label>
        <input id="carrera" type="text" name="carrera" value="{{this.carrera}}" class="form-control" required>
    </div>

    <button onClick="updateStudent({{this.id}})" class="btn btn-primary btn-block my-4">Actualizar</button>

{{/each}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    function updateStudent(id) {
        var url = 'http://localhost:3000/editar/'+id;
        var name = $('#name').val();
        var matricula = $('#matricula').val();
        var carrera = $('#carrera').val();

        $.ajax({
            url: url,
            type: 'PUT', 
            data: {
                name: name,
                matricula: matricula,
                carrera: carrera
            },
            success: function () {
                location.replace('/');
            }
        });
    }

</script>


