<h1 class="text-center mb-3">{{title}}</h1>

<div class="my-4">
    <h1>CRUD</h1>
    <span>Brandon Reyes Minero</span>
    <span>A01335537</span>
    <h4>CRUD de estudiantes</h4>
</div>

<form class="mb4" action="/api/students" method="POST">
    <div class="form-grout my-4">
        <label for="name">Nombre</label>
        <input type="text" name="name" class="form-control">
    </div>

    <div class="form-grout my-4">
        <label for="name">Matricula</label>
        <input type="text" name="matricula" class="form-control">
    </div>

    <div class="form-grout my-4">
        <label for="name">Carrera</label>
        <input type="text" name="carrera" class="form-control">
    </div>

    <input type="submit" value="Add student" class="btn btn-primary btn-block my-4">
</form>

<h4>Students</h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Matricula</th>
      <th scope="col">Carrera</th>
      <th scope="col" style="text-align: center;">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td style="text-align: center;">
        <button class="btn btn-danger" style="width: 30%;">Borrar</button>
        <button class="btn btn-secondary" style="width: 30%;">Editar</button>
      </td>
    </tr>

    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td style="text-align: center;">
        <button class="btn btn-danger" style="width: 30%;">Borrar</button>
        <button class="btn btn-secondary" style="width: 30%;">Editar</button>
      </td>
    </tr>

  </tbody>
</table>

<ul class="list-group">
    {{#each students}}
    <li class="list-group-item">{{this.name}} : {{this.matricula}}</li>
    {{/each}}
</ul>

<a href="/api/students" class="btn btn-light mt-4">Visitar API</a>
